.graf {
    background-color: #eaf4f4;
    border: 1px solid #6b9080;
  }
  
  .axisUCI {
    font-size: 16pt;
  }
  
  .tituloUCI {
    font-size: 18pt;
    font-weight: bold;
    text-anchor: middle;
  }
  