.boundary {
  fill: none;
  stroke: #888;
  stroke-linejoin: round;
}

#tooltip {
  position: absolute;
  z-index: 2;
  width: 220px;
  height: 80px;
  padding: 5px;
  top: -350px;
  left: -350px;
  background: #F2F3F4 ;
}
